<div class="homePageContainer">
  <div class="homePageContent">
    <div class="text">
      <p class="cinemaTitle">Cinema</p>
      <p class="ironhackTitle">Ironhack</p>
      <div class="homeButton"><a href="/movies">CHECK THE MOVIES!</a></div>
    </div>
  </div>
</div>